nodered_flows.json
[{"id":"376118bc.55d558","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e60195c8.4f7468","type":"ui_tab","z":"","name":"Registration Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"f0f5a66e.b9ccf8","type":"ui_group","z":"","name":"Reg Page","tab":"e60195c8.4f7468","order":1,"disp":true,"width":"6","collapse":false},{"id":"e440e27d.b274e","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c8515e20.e822c","type":"ui_tab","z":"","name":"Login Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"43707972.35f338","type":"ui_group","z":"","name":"Login Form","tab":"c8515e20.e822c","order":1,"disp":true,"width":"6","collapse":false},{"id":"8c949a75.ce8398","type":"ui_tab","z":"","name":"CustomerHelp","icon":"dashboard","disabled":false,"hidden":false},{"id":"ba2749b3.f11838","type":"ui_group","z":"","name":"BOT","tab":"8c949a75.ce8398","order":1,"disp":true,"width":"6","collapse":false},{"id":"aef5ddce.e21ea","type":"ui_form","z":"376118bc.55d558","name":"","label":"","group":"f0f5a66e.b9ccf8","order":0,"width":0,"height":0,"options":[{"label":"Enter Your Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"Create","cancel":"Cancel","topic":"","x":90,"y":180,"wires":[["df85c4.493cba4","c4c2ded0.c5185"]]},{"id":"df85c4.493cba4","type":"debug","z":"376118bc.55d558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":270,"y":80,"wires":[]},{"id":"c4c2ded0.c5185","type":"function","z":"376118bc.55d558","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":180,"wires":[["f08fbd54.47503"]]},{"id":"47cf9333.d57fdc","type":"ui_form","z":"376118bc.55d558","name":"","label":"","group":"43707972.35f338","order":0,"width":0,"height":0,"options":[{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"Login","cancel":"Cancel","topic":"","x":90,"y":280,"wires":[["4b537feb.6c4d8"]]},{"id":"4b537feb.6c4d8","type":"function","z":"376118bc.55d558","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":280,"wires":[["3696f2c3.f720ee"]]},{"id":"3696f2c3.f720ee","type":"function","z":"376118bc.55d558","name":"","func":"var emailid=global.get('emailid');\nmsg.payload=\"emailid:\"+emailid;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":280,"wires":[["ea352f4f.1b2cc"]]},{"id":"f08fbd54.47503","type":"cloudant out","z":"376118bc.55d558","name":"cloudant","cloudant":"","database":"details","service":"node-red-qjuhu-2020--cloudant-1597499420433-60711","payonly":true,"operation":"insert","x":460,"y":180,"wires":[]},{"id":"ea352f4f.1b2cc","type":"cloudant in","z":"376118bc.55d558","name":"","cloudant":"","database":"details","service":"node-red-qjuhu-2020--cloudant-1597499420433-60711","search":"_idx_","design":"user","index":"user","x":660,"y":280,"wires":[["55d79752.6263b8"]]},{"id":"55d79752.6263b8","type":"function","z":"376118bc.55d558","name":"","func":"if(msg.payload[0].password===global.get('password')){\n    msg.payload='Login Succesfull';\n}\nelse{\n    msg.payload='Login Failed';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":280,"wires":[["dd30c262.2411d"]]},{"id":"dd30c262.2411d","type":"ui_text","z":"376118bc.55d558","group":"43707972.35f338","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":280,"wires":[]},{"id":"50b908e.efdd4f8","type":"ui_form","z":"376118bc.55d558","name":"","label":"","group":"ba2749b3.f11838","order":2,"width":0,"height":0,"options":[{"label":"User input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":380,"wires":[["e08679ac.acf2f8"]]},{"id":"e08679ac.acf2f8","type":"function","z":"376118bc.55d558","name":"","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":380,"wires":[["82516d71.c814"]]},{"id":"82516d71.c814","type":"watson-conversation-v1","z":"376118bc.55d558","name":"","workspaceid":"ab531180-3005-4dea-8306-d9b620c0b507","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/f217335a-991e-4956-a3f6-37e02b7b2b27","timeout":"","optout-learning":false,"x":490,"y":380,"wires":[["426351dd.ea2b5","44095075.acf1f"]]},{"id":"426351dd.ea2b5","type":"debug","z":"376118bc.55d558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":480,"wires":[]},{"id":"44095075.acf1f","type":"function","z":"376118bc.55d558","name":"","func":"msg.payload = msg.payload.output.generic[0].text\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":380,"wires":[["8223798a.3e8f78","818a27d2.6b3588"]]},{"id":"8223798a.3e8f78","type":"ui_text","z":"376118bc.55d558","group":"ba2749b3.f11838","order":1,"width":"6","height":"6","name":"","label":"BOT Response:","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":380,"wires":[]},{"id":"818a27d2.6b3588","type":"ui_audio","z":"376118bc.55d558","name":"","group":"ba2749b3.f11838","voice":"","always":"","x":920,"y":480,"wires":[]},{"id":"4d3b565d.0317c8","type":"inject","z":"376118bc.55d558","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":670,"y":100,"wires":[[]]}]